# directory
router/work/

#modelsim
*.mpf
*.cr.mti

#backup
*.bak

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
