# directory
conventional_router/src/WORK/
conventional_router/verif/mesh/csrc/
conventional_router/verif/mesh/results/
conventional_router/verif/mesh/simv.daidir/

DynVCRouter/misc/
DynVCRouter/csrc/
DynVCRouter/WORK/
DynVCRouter/simv.daidir/
synopsys_cache_B-2008.09/

simv

*.rep
*.log
*.sdc
*.sdf
*.svf
*.vh

# database file
*.db
*.vcd

# synopsys
*.key

#modelsim
*.mpf
*.cr.mti

#backup
*.bak
*.swp
*~

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
