# directory
conventional_router/verif/mesh_3x3/csrc/
conventional_router/verif/mesh_3x3/results/
conventional_router/verif/mesh_3x3/simv.daidir/
DynVCRouter/csrc/
DynVCRouter/simv.daidir/

# database file
*.db
*.vcd

# synopsys
*.key

#modelsim
*.mpf
*.cr.mti

#backup
*.bak
*.swp
*~

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
